.box{
    width: 100% !important;
}
.content{
    width: 100% !important;
    padding-top: 0;
    margin: 0 auto;
}
.breadcrumb-container{
    width:1200px;
    margin: 0 auto;
}
.shopcart-bg{
    background: #f7f8fa;
    position: relative;
}
.bg-computed{
    position: absolute;
    width: 100%;
    left: 0px;
    height: 0px;
    z-index: -1;
    margin:0;
}
.new-shopcart-container{
    width: 1420px;
    margin: 0 auto;
    padding-bottom: 60px;
}
.new-shopcart-wrap{
    /*overflow: hidden;*/
    position: relative;
}
.shopcart-left-content,.shopcart-right-content{
    /*background: #ffffff;*/
}
.shopcart-left-content{
    float: left;
    width: 1000px;
}
.shopcart-right-content{
    float: right;
    width: 360px;
}
.shopcart-type-wrap{
    background: #ffffff;
    overflow: hidden;
    padding: 10px 0;
}
.shopcart-type-wrap dd:last-child .shipment-shopcart-list-box{
    border-bottom: 1px solid transparent;
}
.shipment-item{
    margin-top: -1px;
}
.shipment-title{
    line-height: 22px;
    font-size: 14px;
    padding:16px 18px;
    color: #333333;
    border-bottom: 2px solid #f7f8fa;
    border-top: 2px solid #f7f8fa;
}
.shopcart-products-pic img{
    /*width: 120px;*/
    /*height: 120px;*/
    max-width: 100%;
    height:auto;
}
.shipment-shopcart-list{
    padding: 0 20px;
    margin-bottom: -1px;
}
.shopcart-products-name{
    line-height: 22px;
    display: block;
    color: #333;
    font-size: 14px;
}
.shopcart-products-pic{
    float: left;
    width: 120px;
}
.shopcart-products-info{
    float: left;
    width: 600px;
    /*min-width: 600px;*/
    padding-left: 20px;
    box-sizing: border-box;
}
.shopcart-products-info .cartAttribsList{
    padding-top: 8px;
}
.shopcart-products-info .cartAttribsList ul li{
    line-height: 20px;
    font-size: 13px;
}
.shopcart-products-info .shopping_cart_sku{
    font-size: 13px;
}
.shopcart-products-reviews{
    display: inline-block;
    padding-top: 2px;
    clear: both;
}
.v_show .shopcart-products-reviews{
    display: block;
}
.shopcart-products-reviews .pro_star{
    padding-top: 2px;
    width: 72px;
}
.shopcart-products-reviews .reviews-number{
    display: block;
    float: left;
    color: #666666;
    font-weight: 400;
    padding-top: 2px;
    font-size: 13px;
}
.shopcart-products-reviews .change_head_proStar.pro_star .pro_star_gray{
    width: 10px;
    background: url(https://img-en.fs.com/includes/templates/fiberstore/images/icon_z.png) no-repeat -13px -297px;
}
.shopcart-products-reviews .change_head_proStar.pro_star .pro_star_hover{
    background: url(https://img-en.fs.com/includes/templates/fiberstore/images/icon_z.png) no-repeat -13px -272px;
}
.shopcart-products-panel{
    float: right;
    width: 240px;
}
.shopcart-products-panel-pay{
    text-align: right;
}
.shopcart-products-panel-pay{
    font-size: 18px;
    color: #333333;
}
.shopcart-save .shopcart-products-panel-pay span{
    font-size: 14px;
}
.shopcart-products-panel-count{
    padding-top: 16px;
}
.shopcart-products-panel-count .cart_basket_btn{
    float: right;
}
.shopcart-products-panel-count.prevent .cart_basket_btn .shopping_cart_01{
    border:1px solid #eeeeee !important;
    border-right: 0 !important;
    /*color: #999999;*/
    color: #cccccc;
    cursor: default;
}
.shopcart-products-panel-count.prevent .cart_basket_btn .pro_mun{
    border:1px solid #eeeeee !important;
    border-left: 0 !important;
}
.shopcart-products-panel-count.prevent .shopping_add{
    opacity: 0.3;
    cursor: default;
}
.shopcart-products-panel-count.prevent .shopping_minus{
    opacity: 0.3;
    cursor: default;
}
.shopcart-products-panel-op{
    text-align: left;
    padding-top: 4px;
}
.shopcart-products-panel-op a{
    color: #0681d3;
    font-size: 13px;
    margin-left: 5px;
    display: inline-block;
}
.shopcart-products-panel-op a:first-child{margin-left: 0;}
.shopcart-products-panel-op a i{
    font-size: 18px;
    width: 1px;
    display: inline-block;
    overflow: hidden;
    background: #aaa;
    height: 10px;
    margin-right: 5px;
}
.shopcart-products-panel-op a.shopcart-remove:hover{
    text-decoration: none;
}
.shopcart-products-panel-op a.shopcart-remove:hover span{
    text-decoration: underline;
}
.shopcart-products-panel-op a.shopcart-remove:hover i{
    text-decoration: none;
}
.shipment-shopcart-list-box{
    border-bottom: 1px solid #eeeeee;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}
.shopcart-products-panel-per{
    color: #999999;
    font-size: 13px;
    line-height: 18px;
    padding-top: 4px;
}
.shopcart-products-Prompt{
    clear: both;
    font-size: 13px;
    color: #333;
    line-height: 22px;
    font-weight: 400;
}
.shipment-item dd:last-child .shipment-shopcart-list-box{
    border-bottom: 0;
}
.new_cart .cart-title-lg .go_saved{margin-left: 5px;line-height: 14px;}
.cart-title-lg{
    color: #333333;
    font-size: 26px;
    line-height: 50px;
    padding-bottom: 10px;
    padding-top: 8px;
    position: relative;
}
.cart-title-md{
    color: #333333;
    font-size: 22px;
    line-height: 40px;
    margin-bottom: 14px;
    margin-top: 18px;
    position: relative;
}
.shopcart-right-top-tips{
    background: #ffffff;
    padding: 12px;
    font-size: 13px;
    color: #333333;
    line-height: 20px;
    height: 20px;
    margin-bottom: 12px;
    margin-top: 12px;
    visibility: hidden;
}
.shopcart-right-top-tips span{
    font-size: 32px;
    color: #359a34;
    font-weight: 500;
    vertical-align: bottom;
}
.shopcart-top-tips{
    background: #ffffff;
    padding: 14px;
    font-size: 13px;
    color: #333333;
    line-height: 22px;
    margin-bottom: 12px;
}
.shopcart-top-tips a{
    font-size: 13px;
    color: #999;
    line-height: 22px;
    font-weight: 400;
}
.shopcart-top-tips a:hover{color: #666;}
.shopcart-top-tips span{
    font-size: 20px;
    color: #359a34;
    font-weight: 600;
    margin-right: 5px;
    vertical-align: bottom;
}
.shopcart-top-tips em{
    font-style:normal;
}
.shopcart-right-top-tips.M-shopbar{
    display: none;
}
.shopcart-right-bar{
    width: 360px;
    box-sizing: border-box;
    /*margin-top: 12px;*/
}
.shopcart-right-bar.M-shopbar{
    display: none;
}
.shopcart-right-bar.tofixed{
    position: fixed;
    padding-top: 12px;
    top: 0px;
}
.shopcart-right-bar.endfixed{
    position: absolute;
    padding-top: 0px;
    top: auto;
    bottom: 0;
    /*position: absolute;*/
    /*right: 0;*/
    /*top: auto !important;*/
    /*bottom: 0;*/
}
.shopcart-right-bar-content-top{
    background: #ffffff;
    padding: 0px 20px;
    margin-bottom: 10px;
}
.shopcart-right-bar-content{
    background: #ffffff;
    padding: 0px 20px;
}
.shopcart-right-bar-ul{
    padding: 16px 0 8px;
    /*padding: 0px;*/
    border-bottom: 1px solid #eeeeee;
}
.shopcart-right-bar-content-top .shopcart-right-bar-ul{
    border-bottom: 1px solid transparent;
    padding: 16px 0 6px 0;
}
.shopcart-right-bar-list{
    margin-bottom: 10px;
    position: relative;
}
.shopcart-right-bar-ul .shopcart-right-bar-list:last-child{
    /*margin-bottom: 0;*/
}
.cart-list-name{
    float: left;
    color: #666666;
    font-size: 14px;
}
.cart-list-name i{
    font-size: 30px;
    color: #359a34;
    font-weight: 500;
    vertical-align: top;
}
.cart-list-name a{
    color: #333;
    cursor: default;
    /*color: #0681D3;*/
    /*text-decoration: underline;*/
}
.cart-list-name a b{
    font-weight: 400;
    display: inline-block;
    max-width: 160px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: top;
}
.cart-list-name a:hover b{
    color: #333;
    /*text-decoration: underline;*/
}
.cart-list-name .cart-list-arrow-icon{
    font-size: 14px;
    color: #0681D3;
    display: inline-block;
    vertical-align: middle;
    transform: rotate(0deg);
    transition: all 0.5s ease;
}
.cart-list-arrow-icon.active{
    transform: rotate(180deg);
    transition: all 0.5s ease;
}
.cart-list-pay{
    float: right;
    color: #666666;
    font-size: 14px;
}
.cart-total-price{
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    padding-top: 20px;
    /*padding-bottom: 10px;*/
}
.cart-total-price span{
    float: right;
}
.cart-total-price span em{
    font-style: normal;
}
.cart-btn-lg{
    position: relative;
    line-height: 40px;
    height: 40px;
    font-size: 14px;
    color: #ffffff;
    background: #c91e24;
    border: 1px solid #c91e24;
    border-radius: 3px;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.cart-btn-lg .security_icon{
    /*position: absolute;*/
    /*top: 12px;*/
    /*left: 64px;*/
    vertical-align: sub;
    margin-right: 10px;
}
.cart-btn-lg:hover{
    background: #b00f14;
    color: #ffffff;
    text-decoration: none;
    border-color: #b00f14;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.cart-btn-lg.alone_active{
    border: 1px solid #eb9898;
}
.cart-btn-lg .loader_order{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.cart-share{
    text-align: center;
    vertical-align: middle;
    padding: 16px 0 16px;
}
.cart-share>a{
    display: inline-block;
    /*display: block;*/
    /*float: left;*/
    /*width: 50%;*/
    box-sizing: border-box;
    /*text-align: right;*/
    vertical-align: middle;
    line-height: 12px;
    font-size: 13px;
    border-right: 1px solid #dedede;
    padding: 0px 10px 0 8px;
}
.cart-share .a_save{
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    line-height: 12px;
    font-size: 13px;
    border-right: 1px solid #dedede;
    padding: 0px 10px 0 8px;
    border-right: 0;
    position: relative;
    cursor: pointer;
}
.cart-share .a_save .a_save_tips{
    position: absolute;
    top: 28px;
    left: -60px;
    display: none;
}
.cart-share .a_save.active .a_save_tips{
    display: block;
}
.cart-share .a_save .a_save_tips .arrow{
    background: none;
    position: absolute;
    top: -14px;
    left: 90px;
    width: 0;
    height: 0;
    display: block;
    border-style: solid;
    border-width: 10px;
    border-color: #fff;
    /* border-top: 0; */
    /*boder-top-width: 8px;*/
    border-top-width: 4px;
    border-bottom-color: rgba(0,0,0,0.4);
}
.cart-share .a_save .a_save_tips .arrow:after{
    content: '';
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 10px;
    border-color: transparent;
    top: -10px;
    border-bottom-color: #fff;
    left: -10px;
}

.a_save_tips_box{
    padding:10px 20px;
    width: 160px;
    background: #fff;
    box-shadow: 0px 1px 8px 0 rgba(120,102,102,.3);
}
.cart-share .a_save .a_save_tips a{
    display: block;
    line-height: 20px;
    padding:2px 0;
    font-size: 13px;
    color: #666666;
    text-align: left;
}
.cart-share>a i{
    font-style: normal;
}
.cart-share>a:last-child{
    border-right: 0;
    /*text-align: left;*/
}
.cart-share>a span{
    vertical-align: middle;
    font-size: 14px;
    display: none;
}
.cart-share .a_save span{
    vertical-align: middle;
    font-size: 20px;
    display: none;
}
.cart-share>a:hover{
    text-decoration: none;
}
.cart-share>a:hover i{
    text-decoration: underline;
}
.new_cart .shopping_cart_methodsicon{
    padding: 0 0 14px 0;
}
.shopping_cart_methodsicon ul {
    float: none;
    width: 100%;
    text-align: center;
}
.shopping_cart_methodsicon ul li{
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-left: 0 !important;
}
.shopcart-carousel-wrap{
    background: #ffffff;
    padding: 0 20px;
}
.shopcart-carousel-container .v_show{
    padding-bottom: 14px;
}
.cart-list-drop{
    position: absolute;
    top:100%;
    left: 0;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    padding:10px 2px 0 2px;
    display: none;
}
.cart-list-drop-box{
    background: #ffffff;
    padding: 0 20px 20px;
    box-shadow: 0px 1px 8px 0 rgba(120,102,102,.3);
    position: relative;
}
.cart-list-drop-content{
    overflow: hidden;
}
.cart-list-drop.active{
    display: block;
}
.cart-list-drop .cart-list-drop-postal input{
    height: 40px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 2px;
    border: solid 1px #dddddd;
    outline: none;
    width: 100%;
    line-height: 38px;
    color: #333333;
    font-size: 13px;
    padding-left: 14px;
    position: relative;
}
.new_cart .shopcart-right-bar-foot .cart_flo_r img{
    margin-top: 0;
    float: left;
}
.new_cart .shopcart-right-bar-foot .cart_flo_r{
    width: 100%;
    padding-top: 18px;
}
.layui-layer-content .layui_new_div {
    padding: 18px 40px 35px 40px!important;
    box-sizing: border-box;
}
.layui-layer-title {
    line-height: 55px!important;
    height: 55px!important;
    font-size: 18px!important;
    color: #333!important;
    font-weight: 400!important;
    background: 0 0!important;
}
.shopcart-empty-btn{
    min-width: 220px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 2px;
    background: #fff;
    color: #666;
    border:1px solid #ccc;
    text-align: center;
    box-sizing: border-box;
    padding: 0 20px;
    display: inline-block;
    margin-top: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.shopcart-empty-btn:hover{
    background: #fff;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #666;
    border:1px solid #666;
}
.shopping_iconfont{
    /*background: #ffffff;*/
}
/*share*/
.shopcart-share-container{
    /*overflow: hidden;*/
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 300px;
}
.shopcart-share-title h3{
    color: #333333;
    font-weight: 400;
    line-height: 18px;
    font-size: 18px;
    margin-top: -4px;
    padding-bottom: 14px;
}
.shopcart-share-title p{
    color: #333333;
    font-size: 14px;
    line-height: 22px;
}
.shopcart-share-title p a{
    color: #0681D3;
    text-decoration: none;
}
.new-shopcart-share{
    background: #ffffff;
}
.new-shopcart-share-wrap{
    padding: 0 20px;
}
.new-shopcart-share *{
    box-sizing: border-box;
}
.new-shopcart-share .shopping_cart_pro_tit{
    position: relative;
    border-bottom: 0;
    padding: 0 20px;
    font-size: 14px;
    color: #333333;
}
.new-shopcart-share .shopping_cart_pro_tit:after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 1px;
    background: #eeeeee;
}
.new-shopcart-share .shopping_cp01{
    width: 5%;
    padding: 15px 0px;
}
.new-shopcart-share .shopping_cp02{
    padding: 15px 20px;
    width: 42.5%;
}
.new-shopcart-share .shopping_cp03{
    width: 20%;
    padding-right: 80px;
}
.new-shopcart-share .shopping_cp04{
    width: 8%;
}
.new-shopcart-share .shopping_cp06{
    width: 14%;
}
.shopping_cp01_img{
    display: table;
    float: left;
    width: 10.5%;
    box-sizing: border-box;
    padding: 15px 0px;
}
.shopping_cp01_img a{
    display: block;
    margin:0 auto;
}
.shopping_cp01_img a img{
    width: 120px;
    height: auto;
    vertical-align: middle;
}
.new-shopcart-share .shopping_cart_pro_con .shopping_cp01,
.new-shopcart-share .shopping_cart_pro_con .shopping_cp03,
.new-shopcart-share .shopping_cart_pro_con .shopping_cp04,
.new-shopcart-share .shopping_cart_pro_con .shopping_cp05,
.new-shopcart-share .shopping_cart_pro_con .shopping_cp06{
    min-height: 155px;
}
.new-shopcart-list-check{
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
}
.shopcart-checkbox{
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    vertical-align: middle;
    background: url(https://img-en.fs.com/includes/templates/fiberstore/images/live_bg.png) no-repeat -320px -926px;
}
.shopcart-checkbox.active{
    background-position: -320px -1000px;
}
.shopcart-checkbox input[type='checkbox']{
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.new-shopcart-share-panel{
    padding: 0 40px;
}
.new-shopcart-share-panel .shopping_cart_04_01_delete{
    margin-left: 0;
}
.new-shopcart-share-panel .shopping_cart_04_01_delete label{
    display: inline-block;
    vertical-align: top;
    height: 20px;
    font-size: 14px;
    background: url(https://img-en.fs.com/includes/templates/fiberstore/images/live_bg.png) no-repeat -320px -926px;
}
.new-shopcart-share-panel .shopping_cart_04_01_delete label.active {
    background-position: -320px -1000px;
}
.new-shopcart-share-panel .shopping_cart_04_01_delete label span{
    padding-left: 8px;
}
.new-shopcart-share-panel .shopping_cart_04_01_delete label input[type="checkbox"]{
    margin: 0;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    opacity: 0;
}
.new-shopcart-share-panel .wishlist_03{
    background: none;
    padding-left: 0;
    margin-left: 5px;
}
.new-shopcart-share-panel .wishlist_03 a{
    color: #0681D3;
    font-size: 14px;
}
.new-shopcart-share-panel .wishlist_03 a:hover{
    text-decoration: none;
}
.new-shopcart-share-panel .wishlist_03 i{
    vertical-align: top;
    font-size: 18px;
}
.new-shopcart-share-panel .share_referral_price{
    font-size: 16px;
    color: #333333;
    font-weight: 600;
    margin-top: 16px;
}
.new-shopcart-share-panel .shopping_cart_border button.button_02{
    min-width: 160px;
    line-height: 36px;
    height: 38px;
    background: #d63030;
    color: #ffffff;
    border: 1px solid #d63030;
    transition: all 0.3s ease;
}
.new-shopcart-share-panel .shopping_cart_border button.button_02:hover{
    background: #b00f14;
    border-color: #b00f14;
    transition: all 0.3s ease;
}
.new-shopcart-share-panel .button_11{
    min-width: 160px;
    text-align: center;
    border: 2px solid #ddd;
    line-height: 34px;
    transition: all 0.3s ease;
}
.new-shopcart-share-panel .button_11:hover{
    border: 2px solid #6f6f6f;
    background: #ffffff;
    transition: all 0.3s ease;
}
.new-shopcart-share-panel .shopping_cart_05{
    padding-bottom: 30px;
    padding-top: 28px;
}
.new-shopcart-share-panel .shopping_cart_button{
    position: relative;
}
.new-shopcart-share-tips{
    position: absolute;
    border: 1px solid #eeeeee;
    background: #ffffff;
    z-index: 96;
    top:52px;
    left: 50%;
    width: 270px;
    text-align: center;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 3px;
    box-shadow: 0px 1px 8px 0 rgba(120,102,102,.3);
    visibility: hidden;
}
.new-shopcart-share-tips.active{
    visibility: visible;
}
.new-shopcart-share-tips-content{
    color: #333333;
    font-size: 14px
}
.new-shopcart-share-tips-content span{
    color: #d63030;
    font-size: 15px;
    margin-right: 8px
}
.new-shopcart-share-tips-arrow{
    position: absolute;
    bottom: 100%;
    left: 50%;
    display: block;
    border-width: 7px;
    border-color: transparent transparent rgba(120,102,102,0.3) transparent;
    border-style: solid;
    transform: translateX(-50%);
    z-index: 0;
}
.new-shopcart-share-tips-arrow:after{
    content: '';
    position: absolute;
    display: block;
    border-width: 6px;
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    left: -6px;
    top: -5px;
}
.tompopover-tips{
    position: absolute;
    border: 1px solid #eeeeee;
    background: #ffffff;
    z-index: 96;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 3px;
    box-shadow: 0px 1px 8px 0 rgba(120,102,102,.3);
}
.tompopover-arrow{
    position: absolute;
    bottom: 100%;
    left: 50%;
    display: block;
    border-width: 7px;
    border-color: transparent transparent rgba(120,102,102,0.3) transparent;
    border-style: solid;
    transform: translateX(-50%);
    z-index: 0;
}
.tompopover-arrow:after{
    content: '';
    position: absolute;
    display: block;
    border-width: 6px;
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    left: -6px;
    top: -5px;
}
.cart_no dl dd.cart_no_recommend{
    text-align: center;
    font-size: 14px;
    padding-top: 26px;
}
.cart_no dl dd.cart_no_recommend a{
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid #999;
    line-height: 12px;
    cursor: default;
    /*text-decoration: underline;*/
}
.cart_no dl dd.cart_no_recommend a:hover{
    text-decoration: none;
    color: #333;
}
.cart_no dl dd.cart_no_recommend a:nth-of-type(1){
    border-left: 0
}
.cart_no dl dd.cart_no_login{
    text-align: center;
    font-size: 14px;
    padding-top: 15px;
}
.cart_no dl dd.cart_no_login a{
    text-decoration: underline;
}
.shopcart-content-fill{
    width: 100% !important;
}
@media(max-width:1440px){
    .new-shopcart-container{
        width: 1200px;
    }
    .shopcart-right-content {
        width: 360px;
    }
    .shopcart-left-content {
        width: 800px;
    }
    .shopcart-right-bar{
        width: 360px;
    }
    .shopcart-products-info{
        width: 440px;
    }
    .shopcart-products-panel {
        width: 220px;
    }
    .shopcart-products-pic {
        width: 100px;
    }
}
@media(max-width:1220px){
    .new-shopcart-container{
        width: 960px;
    }
    .shopcart-right-content {
        width: 360px;
    }
    .shopcart-right-bar{
        width: 360px;
    }
    .shopcart-left-content {
        width: 560px;
    }
    .shopcart-products-pic {
        width: 80px;
    }
    .shopcart-products-info {
        width: 280px;
    }
    .shopcart-products-panel {
        width: 160px;
    }
    .shopcart-products-panel-op a {
        color: #0681d3;
        font-size: 13px;
        margin-left: 6px;
    }
    .shopcart-products-panel-op a i {
        font-size: 14px;
    }
    .shopcart-products-panel-pay span {
        font-size: 16px;
    }
    .shopcart-share-container {
        width: 960px;
        margin: 0 auto;
        padding-bottom: 300px;
    }
    .new-shopcart-share .shopping_cart_pro_tit {
        padding: 0 10px;
    }
    .new-shopcart-share-wrap{
        padding: 0 10px;
    }
    .shopping_cp01_img a img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }
    .shopcart-checkbox{
        margin: 0;
    }
    .new-shopcart-share-panel{
        padding: 0 10px;
    }
    .new-shopcart-share-tips{
        left: auto;
        right: 0;
        transform: translateX(0%);
    }
}
@media(max-width:960px){
    .new-shopcart-container{
        width: 100%;
    }
    .shopcart-left-content {
        width: 100%;
    }
    .shopcart-right-content {
        width: 100%;
    }
    .shopcart-right-bar{
        width: 100%;
        display: none;
    }
    .shopcart-right-bar.M-shopbar{
        display: block;
        margin-top: 10px;
    }
    .shopcart-products-pic {
        width: 16%;
    }
    .shopcart-products-info {
        width: 54%;
    }
    .shopcart-products-panel {
        width: 30%;
    }
    .shopcart-products-panel-count .shopping_minus{
        height: 18px;
    }
    .shopcart-right-top-tips {
        margin-top: 30px;
        display: none;
    }
    .shopcart-right-top-tips.M-shopbar{
        /*display: block;*/
    }
    .shopcart-share-container{
        width: 100%;
        box-sizing: border-box;
        padding: 0 10px;
    }
    .new-shopcart-share .shopping_cp02{
        float: left;
    }
    .new-shopcart-share .shopping_cp03{
        float: left;
        width: 16%;
        text-align: left;
        padding: 15px 0px 15px 0px;
    }
    .new-shopcart-share .shopping_cp04{
        float: left;
        text-align: center;
        padding: 15px 0px;
    }
    .new-shopcart-share .shopping_cp06{
        display: table;
        float: left;
        width: 18%;
        box-sizing: border-box;
        padding: 15px 0;
    }
    .new-shopcart-share .shopping_cp06 .shopping_cp_cell{
        text-align: right;
        display: table-cell;
    }
    .new-shopcart-share .shopping_cart_pro_tit{
        display: block;
    }
    .new-shopcart-share .shopping_cp04 .shopping_cp_cell{
        text-align: center;
        display: table-cell;
    }
    .new-shopcart-share-tips{
        left: 50%;
        right: auto;
        transform: translateX(-50%);
        top: 38px;
    }
    .new_cart .shopcart-right-bar .shopping_cart_methodsicon{
        margin-bottom: 0;
    }
    .new_cart .shopcart-right-bar .cart_flo_r{
        display: block;
    }
    .shopcart-type-wrap .shipment-shopcart-list .shipment-shopcart-list-box{
        border-bottom: 1px solid #eeeeee;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .shopcart-type-wrap .shipment-shopcart-list:last-child .shipment-shopcart-list-box{
        border-bottom: 0;
    }
    .cart_no dl dd.cart_no_recommend{
        font-size: 12px;
    }
    .cart_no dl dd.cart_no_recommend a{
        margin-bottom: 10px;
    }
    .shopcart-empty-btn{
        margin-top: 0;
    }
    .m_2017footer{
        margin-top:0px;
    }
}
@media(max-width:768px){
    .shipment-shopcart-list-box{
        position: relative;
    }
    .shopcart-products-pic {
        position: absolute;
        top: 16px;
        left:0;
        width: 40%;
        padding-right: 20px;
        box-sizing: border-box;
    }
    .shopcart-products-info {
        width:100%;
        padding-left: 40%;
    }
    .shopcart-products-panel {
        width: 100%;
        padding-left: 40%;
        box-sizing: border-box;
    }
    .shopcart-products-panel-pay {
        text-align: left;
        margin-top: 10px;
    }
    .shopcart-products-panel-count .cart_basket_btn{
        float: left;
    }
    .shopcart-products-panel-op {
        text-align: left;
        padding-top: 12px;
    }
    .shopcart-products-panel-op a {
        margin-left: 0px;
        margin-right: 10px;
    }
    .cart-title-lg {
        color: #333333;
        font-size: 26px;
        line-height: 38px;
        padding-bottom: 16px;
        padding-top: 0px;
        position: relative;
    }
    .new-shopcart-share .shopping_cp03{
        display: none;
    }
    .new-shopcart-share .shopping_cart_pro_tit{
        display: none;
    }
    .shopping_cp01_img {
        width: 18%;
        min-height: 144px;
    }
    .new-shopcart-share .shopping_cp01 {
        width: 6%;
    }
    .new-shopcart-share .shopping_cp02 {
        padding: 15px 20px;
        width: 48%;
    }
    .new-shopcart-share .shopping_cp04 {
        width: 8%;
    }
    .new-shopcart-share .shopping_cp06{
        width: 20%;
    }
    .new-shopcart-share .shopping_cart_pro_con .shopping_cp01, .new-shopcart-share .shopping_cart_pro_con .shopping_cp03, .new-shopcart-share .shopping_cart_pro_con .shopping_cp04, .new-shopcart-share .shopping_cart_pro_con .shopping_cp05, .new-shopcart-share .shopping_cart_pro_con .shopping_cp06{
        min-height: 144px;
    }
    .shopping_cart_pro_con{
        padding-bottom: 0;
    }
    .shopping_cp01_img a {
        display: table-cell;
        vertical-align: middle;
    }
}
@media(max-width:600px){
    .new-shopcart-share .shopping_cp06 .shopping_cp_cell{
        font-size: 12px;
    }
    .new-shopcart-share .shopping_cp04 .shopping_cp_cell{
        font-size: 12px;
    }
    .new-shopcart-share .shopping_cp02{
        font-size: 12px;
    }
    .new-shopcart-share .cartAttribsList ul li{
        line-height: 18px;
    }
}
@media(max-width:480px){
    .new-shopcart-share .shopping_cart_pro_con .shopping_cp01, .new-shopcart-share .shopping_cart_pro_con .shopping_cp03, .new-shopcart-share .shopping_cart_pro_con .shopping_cp04, .new-shopcart-share .shopping_cart_pro_con .shopping_cp05, .new-shopcart-share .shopping_cart_pro_con .shopping_cp06{
        min-height: 100px;
    }
    .new-shopcart-share .shopping_cp01{
        width: 10%;
    }
    .shopping_cp01_img{
        width: 20%;
        padding: 0px 0 0px;
        min-height: 100px;
    }
    .new-shopcart-share .shopping_cp02{
        width: 70%;
        padding-right: 0;
    }
    .new-shopcart-share .shopping_cart_pro_con .shopping_cp04{
        min-height: inherit;
        width: 100% !important;
        padding: 0 0 0px 0;
    }
    .new-shopcart-share .shopping_cp04 .shopping_cp_cell{
        text-align: right;
    }

    .new-shopcart-share .shopping_cart_pro_con .shopping_cp06{
        min-height: inherit;
        width: 100% !important;
    }
}

/* 子产品样式 */
.new-shopcart-boxz01:after{content: "";display: block;clear: both;}
.shopcart_newPro_box01{padding-left: 140px;line-height: 20px;}
.shopcart_newPro_main01{margin-top: 10px;}
.shopcart_newPro_cont01{display: table;width: 100%;padding: 20px 20px 0 0;box-sizing: border-box;}
.shopcart_newPro_cont01:first-child{border-top: 1px solid #eee;}
.shopcart_newPro_imgBox01{width: 80px;display: table-cell;}
.shopcart_newPro_itemBox01{display: table-cell;vertical-align: middle;}
.shopcart_newOrder_item01{cursor: pointer;display: inline-block;color: #333;line-height: 20px;font-size: 14px;}
.shopcart_newOrder_item01 .icon{font-size: 13px;margin-right: 5px;display: inline-block;transition: all .3s;}
.shopcart_newOrder_item01.choosez .icon{transform: rotateZ(-180deg);}
.shopcart_newOrder_txt{color: #666;font-size: 13px;}
.shopcart_newOrder_txt01{color: #999;margin-top: 5px;line-height: 20px;font-size: 13px;}
@media(max-width:1220px){
    .shopcart_newPro_box01{padding-left: 100px;}
}
@media(max-width:960px){
    .shopcart_newOrder_item01{margin-top: 5px;}
}
@media(max-width:768px){
    .shopcart_newPro_box01{padding-left: 40%;}
}
@media(max-width:480px){
    .shopcart_newPro_box01{padding-left: 0;}
    .shopcart_newPro_main01{padding: 0 20px 20px;background: #f7f7f9;}
    .shopcart_newPro_cont01{padding: 20px 0px 0px;}
    .shopcart_newPro_cont01:first-child{border-top: 0;}
}


















